/AskName/nbproject/private/
/AskName/build/
/Sum/nbproject/private/
/Sum/build/
/Avarage/nbproject/private/
/Avarage/build/
/Average/build/
/Average/nbproject/private/
/MaxMin/nbproject/private/
/MaxMin/build/
/DataExchange/nbproject/private/
/DataExchange/build/
/UsenameMaker/nbproject/private/
/UsenameMaker/build/